body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
.contaner{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #dbdbdb;
}
.header {
  width: 100%;
  /* height: 200px; */
  padding: 1rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* gap: 20rem; */
  background-color: #f8faf9;
}
.vision {
  height: 100px;
  width: 150px;
  /* z-index: 1; */
  /* width: 150px; */
}

.hero {
  width: 100%;
  height: 100%;
}

.dosary {
  height: 110px;
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: #fff; */
  border-radius: 6px;
  border: 1px solid;
  padding: .5rem;
  /* background-color: rgb(151, 68, 68); */
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafcfc;
  /* background-image: url(./img/14384823-city-landscape-real-estate-background-banner.webp) ; */
  background-repeat: no-repeat;
  /* border: 1px solid red; */
  height: 350px;
  width: 100%;
  /* margin-top: -200px; */
}

.center-section {
  height: 100px;
  width: 100%;
  background-color: rgb(196, 95, 95);
  display: flex;
  flex-direction: row;
  color: #f8faf9;
  margin-top: 1.5rem;
  justify-content: space-around;
}
.text{
    margin: auto;
    width: 250px;
    color: rgb(196, 95, 95);
}
a{
    text-decoration: none;
}
.whatsapp {
  padding: 1rem;
  color: green;
  border: 1px solid green;
  /* width: 200px; */
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  background-color: #fff;
}
.form{
    width: 100%;
}

.row-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 16px;
}

.row-form label{
    font-size: 26px;
}

.row-form input{
    border: none;
    outline: 0;
}

.send-btn{
    width: 100px;
    height: 30px;
    border: none;
    font-size: 26px;
    background-color: green;
    color: #fff;
    cursor: pointer;
}