body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Tajawal;
}
.contaner{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #dbdbdb;
}
.header {
  width: 100%;
  /* height: 200px; */
  padding: 1rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* gap: 20rem; */
  background-color: #f8faf9;
}
.vision {
  height: 100px;
  width: 150px;
  /* z-index: 1; */
  /* width: 150px; */
}

.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dosary {
  height: 110px;
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: #fff; */
  border-radius: 6px;
  border: 1px solid #7c712c;
  padding: .5rem;
  /* background-color: rgb(151, 68, 68); */
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafcfc;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(./img/1899342.jpg);
  background-position: center; */
  /* border: 1px solid red; */
  height: 450px;
  width: 100%;
  /* margin-top: -200px; */
}

.center-section {
  height: 100px;
  width: 100%;
  background-color: #7c712c;
  display: flex;
  flex-direction: row;
  color: #f8faf9;
  margin: .7rem 0;
  justify-content: space-around;
  text-align: center;
  /* font-size: 16px; */
  /* align-items: center; */
}
.text{
    margin: auto;
    width: 80%;
    color: #fff;
}
.def{
  color: #00249f;
}
.bck{
  width: 100%;
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(./img/architect.jpg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
    text-decoration: none;
}
.section-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  margin: auto;
}
.whatsapp {
  padding: 1rem;
  color: #fff;
  background-color: green;
  border: 1px solid green;
  width: 250px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  border-radius: 7px;
  margin: auto;
  /* background-color: #fff; */
}
.form{
    width: 95%;
    margin: auto;
}

.row-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0;
    /* margin: auto; */
    font-size: 16px;
}

.row-form label{
    font-size: 26px;
}

.row-form input{
    border: none;
    width: 70%;
    outline: 0;
    border-radius: 7px;
    padding: .2rem;
    border: 1px solid #dbdbdb;
}

.send-btn{
    width: 100px;
    border: none;
    font-size: 22px;
    background-color: green;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: auto;
    height: 38px;
}